Hotel/SoapServices/src/main/java/pl/lodz/p/it/wsdl/SoapUserServiceInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapUserServiceInterface" targetNamespace="http://it.p.lodz.pl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://it.p.lodz.pl/">
  <wsdl:types>
<xs:schema xmlns:tns="http://it.p.lodz.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://it.p.lodz.pl/" version="1.0">

  <xs:element name="addAdmin" type="tns:addAdmin"/>

  <xs:element name="addAdminResponse" type="tns:addAdminResponse"/>

  <xs:element name="addClient" type="tns:addClient"/>

  <xs:element name="addClientResponse" type="tns:addClientResponse"/>

  <xs:element name="addManager" type="tns:addManager"/>

  <xs:element name="addManagerResponse" type="tns:addManagerResponse"/>

  <xs:element name="adminSoap" type="tns:adminSoap"/>

  <xs:element name="clientSoap" type="tns:clientSoap"/>

  <xs:element name="getClients" type="tns:getClients"/>

  <xs:element name="getClientsResponse" type="tns:getClientsResponse"/>

  <xs:element name="getFilteredUsers" type="tns:getFilteredUsers"/>

  <xs:element name="getFilteredUsersResponse" type="tns:getFilteredUsersResponse"/>

  <xs:element name="getUser" type="tns:getUser"/>

  <xs:element name="getUserResponse" type="tns:getUserResponse"/>

  <xs:element name="getUsers" type="tns:getUsers"/>

  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

  <xs:element name="managerSoap" type="tns:managerSoap"/>

  <xs:element name="updateUser" type="tns:updateUser"/>

  <xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

  <xs:element name="userSoap" type="tns:userSoap"/>

  <xs:complexType name="getFilteredUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFilteredUsersResponse">
    <xs:sequence>
      <xs:element name="_return">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="tns:userSoap"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="userSoap">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
      <xs:element minOccurs="0" name="isActive" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:managerSoap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="managerSoap">
    <xs:complexContent>
      <xs:extension base="tns:userSoap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="addManagerResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getClients">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getClientsResponse">
    <xs:sequence>
      <xs:element name="_return">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="tns:clientSoap"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clientSoap">
    <xs:complexContent>
      <xs:extension base="tns:userSoap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:userSoap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userSoap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:adminSoap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="adminSoap">
    <xs:complexContent>
      <xs:extension base="tns:userSoap">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="addAdminResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:clientSoap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addClientResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element name="_return">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="tns:userSoap"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="ns1:getUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="parameters" element="ns1:updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="ns1:getUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addClientResponse">
    <wsdl:part name="parameters" element="ns1:addClientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAdminResponse">
    <wsdl:part name="parameters" element="ns1:addAdminResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientsResponse">
    <wsdl:part name="parameters" element="ns1:getClientsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilteredUsers">
    <wsdl:part name="parameters" element="ns1:getFilteredUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addManager">
    <wsdl:part name="parameters" element="ns1:addManager">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClients">
    <wsdl:part name="parameters" element="ns1:getClients">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part name="parameters" element="ns1:updateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilteredUsersResponse">
    <wsdl:part name="parameters" element="ns1:getFilteredUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="ns1:getUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addAdmin">
    <wsdl:part name="parameters" element="ns1:addAdmin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addClient">
    <wsdl:part name="parameters" element="ns1:addClient">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addManagerResponse">
    <wsdl:part name="parameters" element="ns1:addManagerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="ns1:getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapUserServiceInterface">
    <wsdl:operation name="getFilteredUsers">
      <wsdl:input name="getFilteredUsers" message="ns1:getFilteredUsers">
    </wsdl:input>
      <wsdl:output name="getFilteredUsersResponse" message="ns1:getFilteredUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addManager">
      <wsdl:input name="addManager" message="ns1:addManager">
    </wsdl:input>
      <wsdl:output name="addManagerResponse" message="ns1:addManagerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <wsdl:input name="getClients" message="ns1:getClients">
    </wsdl:input>
      <wsdl:output name="getClientsResponse" message="ns1:getClientsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUser" message="ns1:updateUser">
    </wsdl:input>
      <wsdl:output name="updateUserResponse" message="ns1:updateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="ns1:getUser">
    </wsdl:input>
      <wsdl:output name="getUserResponse" message="ns1:getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <wsdl:input name="addAdmin" message="ns1:addAdmin">
    </wsdl:input>
      <wsdl:output name="addAdminResponse" message="ns1:addAdminResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <wsdl:input name="addClient" message="ns1:addClient">
    </wsdl:input>
      <wsdl:output name="addClientResponse" message="ns1:addClientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="ns1:getUsers">
    </wsdl:input>
      <wsdl:output name="getUsersResponse" message="ns1:getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
